# Football API Token (Get free key from https://www.football-data.org/)
FOOTBALL_DATA_TOKEN=your_football_data_token_here

# PostgreSQL Database Connection Settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=epl
POSTGRES_USER=root
POSTGRES_PASSWORD=root

# Crawl & Load Seasons (Comma-separated)
SEASONS=2023,2024,2025,2026
